<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="8.1.2" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.0.0-preview.18572.1" targetFramework="net461" />
  <package id="Ninject" version="4.0.0-beta-0134" targetFramework="net461" />
  <package id="PostSharp" version="6.0.35" targetFramework="net461" />
  <package id="PostSharp.Redist" version="6.0.35" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.7.0-preview.18571.3" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>